*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Nexa-Heavy', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
}
nav a{
    font-size: 1rem;
    color: grey;
    margin-left: 4rem;
    font-weight: 500;
}
nav a:hover, nav a.active{
    color: white;
}
.title{
    padding: 5rem 9% 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}
.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    background-color: green;
}
.btn:hover{
    background-color: greenyellow;
    color: black;
}
.label-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.home-labels a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: gray;
}
.home-txt{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 1.5rem;
    color: gray;
}


.review-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.review-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.review-img img{
    position: relative;
    justify-content: center;
    width: 32vw;
}


.sale-txt{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.sale-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.sale-img img{
    position: relative;
    justify-content: center;
    width: 32vw;
}
.sale-btn{
    justify-content: center;
    align-items: center;
    gap: 8rem;
    color: white;
    background-color: gray;
    border-radius: 1rem;
    padding: 20px 20px;
}
.sale-btn:hover{
    color: black;
    background-color: white;
}

.faq-txt{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 1.5rem;
}
.faq-menu{
    display: flex;
    justify-content: center;
}
.faq-menu button{
    margin-top: 20px;
    width: 500px;
    background-color: gray;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.dropdown li{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown{
    display: none;
    position: absolute;
    justify-content: center;
    background-color: gray;
    min-width: 100px;
}
.dropdown li{
    color: white;
}
.faq-menu:hover .dropdown{
    display: block;
    border-radius: 1rem;
}

.contact-txt{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.contact-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.contact-img img{
    position: relative;
    justify-content: center;
    width: 32vw;
}
.contact-btn{
    justify-content: center;
    align-items: center;
    gap: 8rem;
    color: white;
    background-color: gray;
    border-radius: 1rem;
    padding: 20px 20px;
}
.contact-btn:hover{
    color: black;
    background-color: white;
}

footer{
    margin-top: 20px;
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.categories a {
    font-size: 1rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    cursor: default;
}
.footer-nav{
    color: white;
}
.footer-nav:hover{
    color: black;
}
