*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Nexa-Heavy', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
}
nav a{
    font-size: 1rem;
    color: grey;
    margin-left: 4rem;
    font-weight: 500;
}
nav a:hover, nav a.active{
    color: white;
}
.title{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
}
.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
}
.btn{
    display: inline-block;
    padding: 50px 20px;
    border-radius: 4rem;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: 600;
    background-color: green;
}
.btn:hover{
    background-color: greenyellow;
    color: black;
}
.label-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
    width: 90%;
}
.home-labels {
    flex: 1;
    max-width: 33%;
    display: flex;
    width: 300px;
    height: 200px;
    padding: 1rem;
    border-radius: 4rem;
    background-color: rgb(53, 53, 53);
    overflow: hidden;
}
.home-labels a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: lightgray;
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    white-space: normal;
}
.home-labels .active{
    color: white;
}
.home-txt{
    display: flex;
    justify-content: center;
    padding: 4rem;
    font-size: 1.5rem;
    color: gray;
}


.review-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
.review-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.review-img img{
    position: relative;
    justify-content: center;
    width: 32vw;
    border-radius: 8px;
}
.review-img .opacity img{
    opacity: 50%;
}


.sale-txt{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
.sale-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.sale-img img{
    position: relative;
    justify-content: center;
    width: 32vw;
    border-radius: 8px;
}
.sale-btn{
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    padding: 20px 20px;
}
.sale-btn:hover{
    background-color: gray;
}


.faq-txt{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: white;
}
.faq-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.faq-btn{
    width: 70%;
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 10px 15px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: left;
}
.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    z-index: 100;
}
.dropdown ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown li{
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.faq-menu:hover .dropdown{
    display: block;
    width: 70%;
    justify-content: center;
    font-size: 1.2rem;
}
.faq-menu:hover .faq-btn{
    background-color: gray;
}


.contact
{
    padding: 40px 10%;
    color: white;
}
.contact-txt{
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: white;
}
.contact-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem   ;
}
.contact-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-img img{
    max-width: 100%;
    border-radius: 8px;
}
.contact-details{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-details{
    font-size: 1.5rem;
    color: white;
}
.contact-details p{
    font-size: 1rem;
    margin-top: 20px;
    color: lightgray;
}
.contact-btn{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    color: white;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    padding: 20px 20px;
}
.contact-btn:hover{
    background-color: gray;
}


footer{
    margin-top: 20px;
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.footer-nav{
    color: white;
}
.footer-nav:hover{
    color: black;
}